<!doctype html>
<html>
<head>
  <title>MadLibs!</title>
</head>
<body>

<h1>Now you are playing a game!</h1>

<form action="/madlib">
  Please write a person <input type="text" name="person"><br>
  Please write a color <input type="text" name="color"><br>
  Please write a noun <input type="text" name="noun"><br>
  Please write an adjective <input type="text" name="adj"><br>
  Please write a past-tense verb <input type="text" name="verb"><br>
  Please write a noun <input type="text" name="noun2"><br>
  
  Please select one or more of the following adjectives
  <input type="checkbox" name="adj2" value="scared">
  <label>scared</label>

  <input type="checkbox" name="adj2" value="hungry">
  <label>hungry</label>

  <input type="checkbox" name="adj2" value="jazzed">
  <label>jazzed</label>
  <input type="submit">
</form>

</body>
</html>
